#DATABASE
DB_HOST=172.31.186.103
DB_PORT=5432
DB_USER=shinichikudo1st
DB_PASSWORD=myjobscraperengine
DB_NAME=jobscraper
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Tokyo

DATABASE_URL=postgres://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>?sslmode=<DB_SSLMODE>&timezone=<DB_TIMEZONE>
#SAMPLE: postgres://shinichikudo1st:myjobscraperengine@172.31.186.103:5432/jobscraper?sslmode=disable&timezone=Asia/Tokyo

#PORT
PORT=8080